In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_linear import lasso
from sklearn import metrics
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv("tourism_data_500_points.csv")

In [3]:
data.head()

,Date,Location,Number_of_Visitors
0,2019-01-01 00:00:00.000000000,Kimberley Museum,3970
1,2019-01-01 00:00:00.000000000,McGregor Museum,4278
2,2019-01-01 00:00:00.000000000,William Humphreys Art Gallery,4354
3,2019-01-01 00:00:00.000000000,Magersfontein Battlefield,5956
4,2019-01-01 00:00:00.000000000,Ghost Tours & Historical Walks,5450

In [4]:
data.tail()

,Date,Location,Number_of_Visitors
2495,2023-01-01 00:00:00.000000000,Kimberley Museum,3405
2496,2023-01-01 00:00:00.000000000,McGregor Museum,5090
2497,2023-01-01 00:00:00.000000000,William Humphreys Art Gallery,4292
2498,2023-01-01 00:00:00.000000000,Magersfontein Battlefield,5294
2499,2023-01-01 00:00:00.000000000,Ghost Tours & Historical Walks,1135

In [5]:
missing_values = data.isnull().sum()
print(missing_values)

Date                  0
Location              0
Number_of_Visitors    0
dtype: int64

In [6]:
data = data.drop_duplicates()
print(data)

                               Date                        Location  \
0     2019-01-01 00:00:00.000000000                Kimberley Museum
1     2019-01-01 00:00:00.000000000                 McGregor Museum
2     2019-01-01 00:00:00.000000000   William Humphreys Art Gallery
3     2019-01-01 00:00:00.000000000       Magersfontein Battlefield
4     2019-01-01 00:00:00.000000000  Ghost Tours & Historical Walks
...                             ...                             ...
2495  2023-01-01 00:00:00.000000000                Kimberley Museum
2496  2023-01-01 00:00:00.000000000                 McGregor Museum
2497  2023-01-01 00:00:00.000000000   William Humphreys Art Gallery
2498  2023-01-01 00:00:00.000000000       Magersfontein Battlefield
2499  2023-01-01 00:00:00.000000000  Ghost Tours & Historical Walks

      Number_of_Visitors
0                   3970
1                   4278
2                   4354
3                   5956
4                   5450
...                  ...
2495                3405
2496                5090
2497                4292
2498                5294
2499                1135

[2500 rows x 3 columns]

In [7]:
data.describe()

       Number_of_Visitors
count         2500.000000
mean          4929.348000
std           1488.474419
min           -166.000000
25%           3967.250000
50%           4885.000000
75%           5903.500000
max          11213.000000

In [14]:
#splitting data into training and testing sets
X_test,X_train,y_test,y_train = train_test_split( X, y, test_size=0.3, random_state=4 )

NameError: name 'X' is not defined

In [ ]:
#LassoRegression
alpha = 0.01
lasso_model = lasso(alpha)
print(lasso)

In [ ]:
lasso = y.predict()

In [ ]:
#RandomForestRegression
reg = RandomForestRegression (n_estimators = 4)
reg = y.predict()
MSE = mean_squared_error()
R_square = R2()